function add_to_path_if_exsting
    for dir in $argv
        if test -d $dir
            fish_add_path --path $dir
        end
    end
end
 
add_to_path_if_exsting $HOME/.local/bin $HOME/go/bin /usr/local/bin/ $HOME/.local/share/bob/nvim-bin
 
{{ if eq .chezmoi.os "darwin" }}
add_to_path_if_exsting /opt/homebrew/bin
set -x SHELL /opt/homebrew/bin/fish
{{ end }}

{{- if eq .chezmoi.hostname "LMACL4Y3RKQ9" }}
add_to_path_if_exsting /opt/homebrew/opt/python@3.14/libexec/bin
add_to_path_if_exsting /opt/homebrew/opt/openjdk@21/bin
add_to_path_if_exsting $HOME/Library/Android/sdk/platform-tools
set -x http_proxy 127.0.0.1:3128
set -x https_proxy 127.0.0.1:3128
set -x no_proxy 127.0.0.1,localhost,.bmwgroup.net,.cloud.bmw
set -x GOPRIVATE 'atc-github.azure.cloud.bmw/*'
{{- end }}


set -x EDITOR nvim
set -x VISUAL nvim
set -x MANPAGER 'nvim +Man!'

set -x K9S_CONFIG_DIR ~/.config/k9s
set -x RIPGREP_CONFIG_PATH ~/.config/ripgreprc

set -g fish_greeting

if status is-interactive
  fish_vi_key_bindings
  zoxide init fish | source
  fzf --fish | source
  direnv hook fish | source

  # Aliases
  abbr -a g git
  abbr -a la eza -a
  abbr -a ll eza -l
  abbr -a lla eza -la
  abbr -a ls eza
  abbr -a lt eza --tree
  abbr -a tree eza --tree
  abbr -a v nvim
  abbr -a gg lazygit
  abbr -a cm chezmoi
end

source ~/.config/fish/colors/{{ .colorscheme }}.fish

set -x FZF_DEFAULT_OPTS "
    --highlight-line
    --info=inline-right
    --wrap
    --popup 80%
    --ansi
    --border=rounded
    --layout=reverse
    $FZF_COLORS"

set -x _ZO_FZF_OPTS $FZF_DEFAULT_OPTS

set -g tide_prompt_transient_enabled true
set -g tide_left_prompt_items pwd git jobs cmd_duration newline character
set -g tide_right_prompt_items status direnv node python rustc go
set -g tide_cmd_duration_color brblack
set -g tide_jobs_color white
set -g tide_jobs_number_threshold 2
set -g tide_python_icon py
set -g tide_git_icon 
set -g tide_node_icon nodejs
set -g tide_go_icon go
set -g tide_rustc_icon rust
