function add_to_fish_user_paths_if_exists
    for dir in $argv
        if test -d $dir
            set -Ua fish_user_paths $dir
        end
    end
end
 
add_to_fish_user_paths_if_exists $HOME/.local/bin $HOME/go/bin /usr/local/bin/
 
{{ if eq .chezmoi.os "darwin" }}
add_to_fish_user_paths_if_exists /opt/homebrew/bin
set -x SHELL /opt/homebrew/bin/fish
{{ end }}


function prepend_to_sys_path_if_exists
    for dir in $argv
        if test -d $dir
            set -gx PATH $dir $PATH
        end
    end
end

{{- if eq .chezmoi.hostname "LPTP2048124" }}
prepend_to_sys_path_if_exists /opt/homebrew/opt/python@3.12/libexec/bin
prepend_to_sys_path_if_exists /opt/homebrew/opt/openjdk/bin
set -x http_proxy 127.0.0.1:3128
set -x https_proxy 127.0.0.1:3128
set -x GOPRIVATE 'atc-github.azure.cloud.bmw/*'
{{- end }}


set -x FZF_DEFAULT_OPTS "
  --highlight-line
  --info=inline-right
  --wrap
  --ansi
  --layout=reverse
  --border=none
	--color=fg:#c8c093,bg:#1f1f28,hl:#7fb4ca
	--color=fg+:#dcd7ba,bg+:#223249,hl+:#7fb4ca
	--color=spinner:#dca561,info:#7fb4ca,separator:#54546d
	--color=pointer:#7fb4ca,gutter:#1f1f29,marker:#c34043,prompt:#7fb4ca"


set -x EDITOR nvim
set -x VISUAL nvim

set -U fish_greeting

if status is-interactive
  fish_vi_key_bindings
  function starship_transient_prompt_func
    starship module character
  end
  starship init fish | source
  enable_transience
  zoxide init fish | source
  fzf --fish | source
  direnv hook fish | source

  # Aliases
  abbr -a g git
  abbr -a la eza -a
  abbr -a ll eza -l
  abbr -a lla eza -la
  abbr -a ls eza
  abbr -a lt eza --tree
  abbr -a tree eza --tree
  abbr -a v nvim
  abbr -a gg lazygit
  abbr -a cm chezmoi
{{- if eq .chezmoi.os "linux" }}
  abbr -a hypr 'if uwsm check may-start; exec uwsm start hyprland.desktop; end'
{{- end }}
end
