function add_to_fish_user_paths_if_exists
    for dir in $argv
        if test -d $dir
            set -Ua fish_user_paths $dir
        end
    end
end
 
add_to_fish_user_paths_if_exists $HOME/.local/bin $HOME/go/bin /usr/local/bin/
 
{{ if eq .chezmoi.os "darwin" }}
add_to_fish_user_paths_if_exists /opt/homebrew/bin
set -x SHELL /opt/homebrew/bin/fish
{{ end }}


function prepend_to_sys_path_if_exists
    for dir in $argv
        if test -d $dir
            set -gx PATH $dir $PATH
        end
    end
end

{{- if eq .chezmoi.hostname "LPTP2048124" }}
prepend_to_sys_path_if_exists /opt/homebrew/opt/python@3.12/libexec/bin
prepend_to_sys_path_if_exists /opt/homebrew/opt/openjdk/bin
set -x http_proxy 127.0.0.1:3128
set -x https_proxy 127.0.0.1:3128
set -x GOPRIVATE 'atc-github.azure.cloud.bmw/*'
{{- end }}


set -x RIPGREP_CONFIG_PATH ~/.config/ripgreprc




set -x EDITOR nvim
set -x VISUAL nvim
set -x K9S_CONFIG_DIR ~/.config/k9s

set -U fish_greeting

if status is-interactive
  fish_vi_key_bindings
  function starship_transient_prompt_func
    starship module character
  end
  starship init fish | source
  enable_transience
  zoxide init fish | source
  fzf --fish | source
  direnv hook fish | source

  # Aliases
  abbr -a g git
  abbr -a la eza -a
  abbr -a ll eza -l
  abbr -a lla eza -la
  abbr -a ls eza
  abbr -a lt eza --tree
  abbr -a tree eza --tree
  abbr -a v nvim
  abbr -a gg lazygit
  abbr -a cm chezmoi
{{- if eq .chezmoi.os "linux" }}
  abbr -a hypr 'if uwsm check may-start; exec uwsm start hyprland.desktop; end'
{{- end }}
end

{{ if eq .colorscheme "rose-pine" -}}
set -l COLORS "--color=fg:#908caa,bg:#191724,hl:#ebbcba
	--color=fg+:#e0def4,bg+:#26233a,hl+:#ebbcba
 	--color=border:#403d52,header:#31748f,gutter:#191724
 	--color=spinner:#f6c177,info:#9ccfd8
 	--color=pointer:#c4a7e7,marker:#eb6f92,prompt:#908caa"
fish_config theme choose "rose_pine"
{{- end -}}
{{- if eq .colorscheme "tokyonight" -}}
set -l COLORS "--color=bg+:#283457 \
  --color=bg:#1a1b26 \
  --color=border:#27a1b9 \
  --color=fg:#c0caf5 \
  --color=gutter:#1a1b26 \
  --color=header:#ff9e64 \
  --color=hl+:#2ac3de \
  --color=hl:#2ac3de \
  --color=info:#545c7e \
  --color=marker:#ff007c \
  --color=pointer:#ff007c \
  --color=prompt:#2ac3de \
  --color=query:#c0caf5:regular \
  --color=scrollbar:#27a1b9 \
  --color=separator:#ff9e64 \
  --color=spinner:#ff007c"
fish_config theme choose "tokyonight"
{{- end -}}
{{- if eq .colorscheme "catppuccin" -}}
set -l COLORS "--color=bg+:#313244,bg:#1E1E2E,spinner:#F5E0DC,hl:#F38BA8 \
  --color=fg:#CDD6F4,header:#F38BA8,info:#CBA6F7,pointer:#F5E0DC \
  --color=marker:#B4BEFE,fg+:#CDD6F4,prompt:#CBA6F7,hl+:#F38BA8 \
  --color=selected-bg:#45475A,gutter:#1E1E2E \
  --color=border:#313244,label:#CDD6F4"
fish_config theme choose "catppuccin_mocha"
{{- end }}

set -x FZF_DEFAULT_OPTS "
    --highlight-line
    --info=inline-right
    --wrap
    --tmux 60%,70%
    --ansi
    --border=sharp
    --layout=reverse
    $COLORS"

