{
  "layer": "top",
  "position": "top",
  "mode": "dock",
  "spacing": 12,
  "exclusive": true,
  "gtk-layer-shell": true,
{{- if eq .chezmoi.hostname "desos" }}
  "output": "DP-1",
{{- else if eq .chezmoi.hostname "ladon" -}}
  "output": "eDP-1",
{{- end }}
  "modules-left": [
    "custom/cpu",
    "custom/memory",
    "custom/disk",
    "custom/updates"
  ],
  "modules-center": [
    "hyprland/workspaces"
  ],
  "modules-right": [
{{- if eq .chezmoi.hostname "ladon" -}}
    "backlight",
{{- end }}
    "wireplumber",
    "network",
{{- if eq .chezmoi.hostname "ladon" -}}
    "battery",
{{- end }}
    "clock"
  ],
  "custom/cpu": {
    "exec": "~/workspace/sysbars/sysbars cpu",
    "format": "  {text}  {percentage}%",
    "interval": 2,
    "return-type": "json"
  },
  "battery": {
    "interval": 30,
    "states": {
      "good": 95,
      "warning": 30,
      "critical": 20
    },
    "format": "󰁹 {icon}  {capatity}%",
    "format-charging": "",
    "format-plugged": "",
    "format-icons": [
      "░░░░░░░",
      "█░░░░░░",
      "██░░░░░",
      "███░░░░",
      "████░░░",
      "█████░░",
      "██████░",
      "███████"
    ]
  },
  "clock": {
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
    "format": "{:%H:%M, %B %d}",
    "format-alt": "{:%Y-%m-%d}"
  },
  "hyprland/workspaces": {
    "format": "{id}",
    "persistent-workspaces": {
      "1": [],
      "2": [],
      "3": [],
      "4": [],
      "5": []
    }
  },
  "hyprland/window": {
    "format": "{}",
    "rewrite": {
      "(.*) — Mozilla Firefox": "🌎 $1"
    }
  },
  "backlight": {
    "device": "amdgpu_bl1",
    "format": "󰃠  {icon}  {percent}%",
    "format-icons": [
      "░░░░░░░",
      "█░░░░░░",
      "██░░░░░",
      "███░░░░",
      "████░░░",
      "█████░░",
      "██████░",
      "███████"
    ],
    "on-scroll-up": "brightnessctl set 1%+",
    "on-scroll-down": "brightnessctl set 1%-",
    "tooltip": false
  },
  "custom/updates": {
    "format": "   {}",
    "exec": "checkupdates | wc -l",
    "exec-if": "exit 0",
    "interval": 3600,
    "signal": 8,
    "tooltip": false
  },
  "custom/memory": {
    "exec": "~/workspace/sysbars/sysbars mem",
    "format": "  {text}  {percentage}%",
    "interval": 2,
    "return-type": "json"
  },
  "custom/disk": {
    "exec": "~/workspace/sysbars/sysbars disk",
    "format": "󰋊  {text}  {percentage}%",
    "interval": 1200,
    "return-type": "json"
  },
  "wireplumber": {
    "format": "  {icon}  {volume}%",
    "format-muted": " ",
    "on-click": "helvum",
    "format-icons": [
      "░░░░░░░",
      "█░░░░░░",
      "██░░░░░",
      "███░░░░",
      "████░░░",
      "█████░░",
      "██████░",
      "███████"
    ],
    "tooltip-format": "Volume: {volume}%"
  },
  "network": {
    "interface": {{ .network_interface | quote }},
    "format": "{ifname}",
    "format-wifi": "󰤨  {icon}  {signalStrength}%",
    "format-ethernet": "󰈀  {ipaddr}/{cidr}",
    "format-disconnected": "󰌙  Dicsonnected",
    "format-icons": [
      "░░░░░░░",
      "█░░░░░░",
      "██░░░░░",
      "███░░░░",
      "████░░░",
      "█████░░",
      "██████░",
      "███████"
    ],
    "tooltip-format-wifi": "WiFi: {essid} ({signalStrength}%)\n󰅃 {bandwidthUpBytes} 󰅀 {bandwidthDownBytes}",
    "tooltip-format-ethernet": "Ethernet: {ifname}\n󰅃 {bandwidthUpBytes} 󰅀 {bandwidthDownBytes}",
    "tooltip-format-disconnected": "Disconnected"
  }
}
