{
  "layer": "top",
  "position": "top",
  "mode": "dock",
  "spacing": 12,
  "exclusive": true,
  "gtk-layer-shell": true,
{{- if eq .chezmoi.hostname "desos" }}
  "output": "DP-1",
{{- else if eq .chezmoi.hostname "ladon" -}}
  "output": "eDP-1",
{{- end }}
  "modules-left": [
    "cpu",
    "memory",
    "disk",
    "custom/updates"
  ],
  "modules-center": [
  ],
  "modules-right": [
{{- if eq .chezmoi.hostname "ladon" -}}
    "backlight",
{{- end }}
    "wireplumber",
    "network",
{{- if eq .chezmoi.hostname "ladon" -}}
    "battery",
{{- end }}
    "clock"
  ],
  "cpu": {
{{- if eq .chezmoi.hostname "desos" }}
    "format": "  {icon0}{icon1}{icon2}{icon3}{icon4}{icon5}{icon6}{icon7}{icon8}{icon9} {usage}%",
{{- else if eq .chezmoi.hostname "ladon" -}}
    "format": "  {icon0}{icon1}{icon2}{icon3}{icon4}{icon5}{icon6}{icon7} {usage}%",
{{- end }}
    "interval": 2,
    "format-icons": [
      "<span color='#6e6a86'>▁</span>",
      "<span color='#6e6a86'>▂</span>",
      "<span color='#e0def4'>▃</span>",
      "<span color='#e0def4'>▄</span>",
      "<span color='#ebbcba'>▅</span>",
      "<span color='#ebbcba'>▆</span>",
      "<span color='#f6c177'>▇</span>",
      "<span color='#eb6f92'>█</span>"
    ]
  },
  "battery": {
    "interval": 30,
    "states": {
      "good": 95,
      "warning": 30,
      "critical": 20
    },
    "format": "{icon}  {capatity}%",
    "format-charging": "󰂄",
    "format-plugged": "󰂄",
    "format-icons": [
      "󰂎 ",
      "󰁺 ",
      "󰁻 ",
      "󰁼 ",
      "󰁽 ",
      "󰁾 ",
      "󰁿 ",
      "󰂀 ",
      "󰂂 ",
      "󰁹 "
    ]
  },
  "clock": {
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
    "format": "{:%H:%M, %B %d}",
    "format-alt": "{:%Y-%m-%d}"
  },
  "hyprland/workspaces": {
    "format": "{id}",
    "persistent-workspaces": {
      "1": [],
      "2": [],
      "3": [],
      "4": [],
      "5": []
    }
  },
  "hyprland/window": {
    "format": "{}",
    "rewrite": {
      "(.*) — Mozilla Firefox": "🌎 $1"
    }
  },
  "backlight": {
    "device": "amdgpu_bl1",
    "format": "󱍖   {icon}  {percent}%",
    "format-icons": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
    ],
    "on-scroll-up": "brightnessctl set 1%+",
    "on-scroll-down": "brightnessctl set 1%-",
    "tooltip": false
  },
  "custom/updates": {
    "format": "   {}",
    "exec": "checkupdates | wc -l",
    "exec-if": "exit 0",
    "interval": 3600,
    "signal": 8,
    "tooltip": false
  },
  "memory": {
    "format": "     {percentage}%",
    "interval": 10
  },
  "disk": {
    "format": "󰋊  {percentage_used}%",
    "interval": 1200,
    "path": "/"
  },
  "wireplumber": {
    "format": "  {icon}  {volume}%",
    "format-muted": " ",
    "on-click": "helvum",
    "format-icons": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
    ],
    "tooltip-format": "Volume: {volume}%"
  },
  "network": {
    "interface": {{ .network_interface | quote }},
    "format": "{ifname}",
    "format-wifi": "󰖩  {icon}  {signalStrength}%",
    "format-ethernet": "󰈀  {ipaddr}/{cidr}",
    "format-disconnected": "󰌙  Disconnected",
    "format-icons": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
    ],
    "tooltip-format-wifi": "WiFi: {essid} ({signalStrength}%)\n󰅃 {bandwidthUpBytes} 󰅀 {bandwidthDownBytes}",
    "tooltip-format-ethernet": "Ethernet: {ifname}\n󰅃 {bandwidthUpBytes} 󰅀 {bandwidthDownBytes}",
    "tooltip-format-disconnected": "Disconnected"
  }
}
