@import "colorscheme.css";

* {
  font-family: "CommitMono Nerd Font";
  font-size: 10pt;
}

window#waybar {
  background-color: @background;
}

tooltip {
  background: @surface;
  border: 0px solid @base;
  border-radius: 0px;
}

.modules-left {
  padding-left: 10px;
}
.modules-right {
  padding-right: 10px;
}

#cpu,
#memory,
#disk,
#custom-updates,
#wireplumber,
#workspaces,
#battery,
#network,
#backlight,
#clock {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: @foreground;
}

#workspaces {
  border-radius: 0px;
  padding: 0;
}

#workspaces button {
  min-width: 1.75rem;
  box-shadow: none;
  border-radius: 0px;
  padding: 0.25rem;
  color: @foreground;
}
#workspaces button.active {
  color: @accent;
  border: 1px solid @accent;
}
#workspaces button:hover {
  border: 1px solid @accent;
  background-color: @background;
}
