@import "colorscheme.css";

* {
  font-family: "CommitMono Nerd Font";
  font-size: 10pt;
}

window#waybar {
  background-color: @transparent;
}

tooltip {
  background: @surface;
  border: 1px solid @accent;
  border-radius: 0px;
}

#cpu,
#memory,
#disk,
#custom-updates,
#wireplumber,
#workspaces,
#battery,
#network,
#backlight,
#clock {
  color: @foreground;
}

#battery.low {
  background-color: @danger;
  color: @background;
}

#workspaces button {
  min-width: 1.75rem;
  padding: 0;
  color: @foreground;
}
#workspaces button.active {
  color: @accent;
}
#workspaces button:hover {
  color: @accent;
}
