@import "kanagawa.css";

* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 11pt;
}

window#waybar {
  background-color: transparent;
}

tooltip {
  background: @sumiInk1;
  border: 1px solid @sumiInk4;
  border-radius: 0px;
}

tooltip label {
  color: @fujiWhite;
}

label:focus {
  background-color: @sumiInk1;
}

.modules-left {
  padding-left: 10px;
}
.modules-right {
  padding-right: 10px;
}

#cpu-modules,
#memory-modules,
#disk-modules,
#wireplumber-modules,
#updates-modules,
#workspaces,
#battery-modules,
#network-modules,
#backlight-modules,
#clock {
  color: @fujiWhite;
  border-radius: 0px;
  border: 2px solid @sumiInk4;
  transition: 300ms linear;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 10px;
  background-color: @sumiInk2;
}

#memory-modules {
  color: @sakuraPink;
}
#disk-modules {
  color: @springBlue;
}
#cpu-modules {
  color: @autumnYellow;
}
#backlight-modules {
  color: @autumnYellow;
}
#wireplumber-modules {
  color: @springBlue;
}
#network-modules {
  color: @oniViolet;
}
#battery-modules {
  color: @sakuraPink;
}

.icon {
  font-size: 16pt;
}
.content {
  margin-left: 0.75rem;
}

#custom-updates-icon {
  font-size: 16pt;
  color: @oniViolet;
}
#custom-updates-content {
  color: @oniViolet;
  margin-left: 0.75rem;
}

#workspaces {
  border-radius: 0px;
  padding: 0;
}
#workspaces button {
  color: @fujiWhite;
  min-width: 1.75rem;
  box-shadow: none;
  border-radius: 0px;
  padding: 0.25rem;
}
#workspaces button.active {
  /* color: @sumiInk1; */
  background: @sumiInk4;
}
#workspaces button:hover {
  background: @sumiInk4;
  color: @sumiInk1;
}
#window {
  color: @springBlue;
}
