@define-color bg #1a1b26;
@define-color fg #c0caf5;
@define-color selection #283457;
@define-color black #15161e;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan #7dcfff;
@define-color white #a9b1d6;
@define-color brightBlack #414868;
@define-color brightWhite #c0caf5;

/* Exports */
@define-color background @bg;
@define-color foreground @fg;
@define-color surface @selection;
@define-color accent @blue;
