[main]
{{ if eq .colorscheme "rose-pine" -}}
include=~/.config/fuzzel/colors/rose_pine.ini
{{- end -}}
{{ if eq .colorscheme "rose-pine-moon" -}}
include=~/.config/fuzzel/colors/rose_pine_moon.ini
{{- end -}}
{{ if eq .colorscheme "kanagawa" -}}
include=~/.config/fuzzel/colors/kanagawa.ini
{{- end -}}
{{ if eq .colorscheme "catppuccin-mocha" -}}
include=~/.config/fuzzel/colors/catppuccin_mocha.ini
{{- end -}}
{{ if eq .colorscheme "carbonfox" -}}
include=~/.config/fuzzel/colors/carbonfox.ini
{{- end -}}
{{ if eq .colorscheme "tokyonight-night" -}}
include=~/.config/fuzzel/colors/tokyonight_night.ini
{{- end -}}
