font-family = MonoLisa

{{ if eq .colorscheme "rose-pine" -}}
theme = rose-pine
{{- end -}}
{{ if eq .colorscheme "kanagawa" -}}
theme = Kanagawa Wave
{{- end -}}
{{ if eq .colorscheme "tokyonight-night" -}}
theme = tokyonight_night
{{- end -}}
{{ if eq .colorscheme "carbonfox" -}}
theme = carbonfox
{{- end -}}
{{ if eq .colorscheme "catppuccin" -}}
theme = catppuccin-mocha
{{- end }}

{{ if eq .chezmoi.os "darwin" }}
command = /opt/homebrew/bin/fish
{{ end }}

window-padding-balance = true
