font-family = MonoLisa

{{ if eq .colorscheme "rose-pine" -}}
theme = Rose Pine
{{- end -}}
{{ if eq .colorscheme "kanagawa" -}}
theme = Kanagawa Wave
{{- end -}}
{{ if eq .colorscheme "tokyonight-night" -}}
theme = TokyoNight Night
{{- end -}}
{{ if eq .colorscheme "carbonfox" -}}
theme = Carbonfox
{{- end -}}
{{ if eq .colorscheme "catppuccin-mocha" -}}
theme = Catppuccin Mocha
{{- end }}

{{ if eq .chezmoi.os "darwin" }}
command = /opt/homebrew/bin/fish
{{ end }}

window-padding-balance = true
