@import "rose-pine-moon.css";

* {
  font-family: "FiraCode Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: @base;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @surface;
  border: 1px solid @gold;
}

tooltip label {
  color: @text;
}

label:focus {
  background-color: @base;
}

/* ALL MODULES */
#cpu,
#temperature,
#memory,
#disk,
#custom-updates,
#systemd-failed-units,
#wireplumber,
#backlight,
#bluetooth,
#battery,
#network,
#custom-lock,
#custom-poweroff,
#custom-logout,
#custom-reboot,
#custom-fan,
#custom-weather,
#custom-separator {
  color: @subtle;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#custom-archlogo {
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 1em;
  color: @subtle;
}

/* LEFT */
#custom-reboot {
  color: @rose;
}
#custom-logout {
  color: @foam;
}
#custom-lock {
  color: @iris;
}
#custom-poweroff {
  color: @rose;
}
#custom-fan.on {
  color: @gold;
}
#custom-fan.off {
  color: @muted;
}
#systemd-failed-units.degraded {
  color: @love;
}

/* MIDDLE */
#workspaces button {
  color: @highlightHigh;
}
#workspaces button.focused {
  background-color: transparent;
}
#workspace button.hover {
  background-color: transparent;
}
#workspaces button.active {
  color: @gold;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
  border: transparent;
}

/* RIGHT */
#custom-updates {
  color: @gold;
}
#custom-updates.ok {
  color: @subtle;
}
#custom-weather {
  color: @subtle;
}
#backlight {
  color: @gold;
}
#wireplumber {
  color: @subtle;
}
#battery {
  color: @subtle;
}
#clock {
  color: @subtle;
  padding-right: 20px;
  padding-left: 15px;
}
#network {
  color: @subtle;
}
#bluetooth {
  color: @subtle;
}
#battery.warning:not(.charging) {
  color: @rose;
}
#battery.critical:not(.charging) {
  color: @love;
}
#battery.discharging {
  color: @gold;
}
#battery.charging,
#battery.full,
#battery.plugged {
  color: @foam;
}
