@import "rose-pine-moon.css";

* {
  font-family: "FiraCode Nerd Font Propo";
  font-size: 11pt;
}

window#waybar {
  background-color: @transparent;
}

tooltip {
  background: @overlay;
  border: 1px solid @subtle;
  border-radius: 6px;
}

tooltip label {
  color: @text;
}

label:focus {
  background-color: @base;
}

.modules-left {
  padding-left: 10px;
}
.modules-right {
  padding-right: 10px;
}

/* ALL MODULES */
#cpu-modules,
#memory-modules,
#disk-modules,
#wireplumber-modules,
#updates-modules,
#backlight,
#workspaces,
#battery-modules,
#network-modules,
#custom-archlogo,
#clock {
  color: @text;
  border-radius: 8px;
  background: @highlightMed;
  border: 2px solid @subtle;
  transition: 300ms linear;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
}

#custom-archlogo {
  min-width: 2.5rem;
  font-size: 12pt;
  background: @subtle;
  color: @base;
  margin-left: 0;
}

#clock {
  margin-right: 0;
}

.icon {
  color: @base;
  background: @subtle;
  padding: 0.5rem;
  min-width: 1.5rem;
}
.content {
  margin-right: 1rem;
  margin-left: 1rem;
}

#custom-updates-icon {
  color: @base;
  background: @subtle;
  padding: 0.5rem;
  min-width: 1.5rem;
  font-size: 12pt;
}
#custom-updates-content {
  margin-right: 1rem;
  margin-left: 1rem;
}

#clock {
  padding-right: 1rem;
  padding-left: 1rem;
}

#workspaces {
  padding-left: 0;
  padding-right: 0;
  border-radius: 8px;
}
#workspaces button {
  color: @text;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
}
#workspaces button.active {
  color: @base;
  background: @subtle;
}
#workspaces button:hover {
  background: @subtle;
  color: @base;
}
