font_size 12

# Tabs
map ctrl+shift+h previous_tab
map ctrl+shift+l next_tab

map ctrl+j kitten pass_keys.py neighboring_window bottom ctrl+j
map ctrl+k kitten pass_keys.py neighboring_window top    ctrl+k
map ctrl+h kitten pass_keys.py neighboring_window left   ctrl+h
map ctrl+l kitten pass_keys.py neighboring_window right  ctrl+l
allow_remote_control yes

window_padding_width 5 10 5 10

{{- if eq .chezmoi.os "darwin" }}
listen_on unix:/tmp/mykitty
{{- else }}
listen_on unix:@mykitty
{{- end }}

# Tab style
tab_bar_style powerline
tab_powerline_style round

cursor_trail 3

enable_audio_bell no
enabled_layouts grid

macos_quit_when_last_window_closed yes

{{- if eq .chezmoi.hostname "LPTP2048124" }}
shell /opt/homebrew/bin/fish
{{- end }}

# BEGIN_KITTY_THEME
# Kanagawa
include current-theme.conf
# END_KITTY_THEME

# Tab colors
active_tab_foreground #1f1f28
active_tab_background #c8c093
inactive_tab_foreground #1f1f28
inactive_tab_background #727169

# Window border
active_border_color #c8c093
inactive_border_color #727169

# BEGIN_KITTY_FONTS
font_family      family="MonoLisa"
bold_font        auto
italic_font      auto
bold_italic_font auto
# END_KITTY_FONTS
