font_size 12

tab_bar_style powerline
tab_powerline_style slanted
tab_title_template "{index}:{title}"
active_tab_font_style normal

cursor_trail 3

window_padding_width 0 5
window_border_width 1

enable_audio_bell no
enabled_layouts grid,splits

macos_quit_when_last_window_closed yes
macos_option_as_alt yes

map ctrl+shift+h previous_tab
map ctrl+shift+l next_tab

map ctrl+j kitten pass_keys.py neighboring_window bottom ctrl+j
map ctrl+k kitten pass_keys.py neighboring_window top    ctrl+k
map ctrl+h kitten pass_keys.py neighboring_window left   ctrl+h
map ctrl+l kitten pass_keys.py neighboring_window right  ctrl+l

map ctrl+b>1 goto_tab 1
map ctrl+b>2 goto_tab 2
map ctrl+b>3 goto_tab 3
map ctrl+b>4 goto_tab 4
map ctrl+b>5 goto_tab 5
map ctrl+b>6 goto_tab 6
map ctrl+b>7 goto_tab 7
map ctrl+b>8 goto_tab 8
map ctrl+b>9 goto_tab 9

map ctrl+b>c new_tab
map ctrl+b>, set_tab_title

map ctrl+b>% launch --location=vsplit --cwd=current
map ctrl+b>" launch --location=hsplit --cwd=current

map ctrl+b>h move_window left
map ctrl+b>j move_window down 
map ctrl+b>k move_window up
map ctrl+b>l move_window right

map ctrl+b>f show_scrollback

scrollback_pager nvim --cmd 'set eventignore=FileType' +'nnoremap q ZQ' +'call nvim_open_term(0, {})' +'set nomodified nolist' +'$' -

allow_remote_control yes

{{- if eq .chezmoi.os "darwin" }}
listen_on unix:/tmp/mykitty
shell /opt/homebrew/bin/fish
{{- else }}
listen_on unix:@mykitty
{{- end }}

symbol_map U+e000-U+e00a,U+e0a0-U+e0a2,U+e0a3,U+e0b0-U+e0b3,U+e0b4-U+e0c8,U+e0ca,U+e0cc-U+e0d7,U+e200-U+e2a9,U+e300-U+e3e3,U+e5fa-U+e6b7,U+e700-U+e8ef,U+ea60-U+ec1e,U+ed00-U+efce,U+f000-U+f2ff,U+f300-U+f381,U+f400-U+f533,U+f0001-U+f1af0 Symbols Nerd Font Mono

include themes/{{ .colorscheme }}.conf

# BEGIN_KITTY_FONTS
font_family      family="MonoLisa"
bold_font        auto
italic_font      auto
bold_italic_font auto
# END_KITTY_FONTS
