{{ if eq .colorscheme "rose-pine" -}}
source=~/.config/hypr/rose_pine.conf
{{- end -}}
{{ if eq .colorscheme "rose-pine-moon" -}}
source=~/.config/hypr/rose_pine_moon.conf
{{- end -}}
{{ if eq .colorscheme "kanagawa" -}}
source=~/.config/hypr/kanagawa.conf
{{- end -}}
{{ if eq .colorscheme "catppuccin-mocha" -}}
source=~/.config/hypr/catppuccin_mocha.conf
{{- end -}}
{{ if eq .colorscheme "carbonfox" -}}
source=~/.config/hypr/carbonfox.conf
{{- end -}}
{{ if eq .colorscheme "tokyonight-night" -}}
source=~/.config/hypr/tokyonight_night.conf
{{- end -}}
