-- Now
{{ if eq .colorscheme "rose-pine" -}}
require('plugins.colorschemes.rose-pine')
{{- end -}}
{{ if eq .colorscheme "kanagawa" -}}
require('plugins.colorschemes.kanagawa')
{{- end -}}
{{ if eq .colorscheme "tokyonight" -}}
require('plugins.colorschemes.tokyonight')
{{- end -}}
{{ if eq .colorscheme "catppuccin" -}}
require('plugins.colorschemes.catppuccin')
{{- end }}

vim.api.nvim_set_hl(0, 'MsgArea', { link = 'NormalFloat' })

require('plugins.mini-icons')
require('plugins.mini-notify')
require('plugins.slimline')

-- Later
require('plugins.nvim-treesitter')

require('plugins.mini-extra')
require('plugins.mini-ai')
require('plugins.mini-clue')
require('plugins.mini-completion')
require('plugins.mini-files')
require('plugins.mini-hipatterns')
require('plugins.mini-pick')
require('plugins.mini-pairs')
require('plugins.mini-surround')
require('plugins.mini-diff')

require('plugins.conform')
require('plugins.flash')
require('plugins.grug-far')
require('plugins.vim-tmux-navigator')

require('plugins.nvim-lspconfig')

require('plugins.lazydev')
require('plugins.mason')
