bind -T copy-mode-vi 'v' send -X begin-selection
bind -T copy-mode-vi 'V' send -X select-line
bind -T copy-mode-vi 'y' send -X copy-selection-and-cancel

bind  %  split-window -h -c "#{pane_current_path}"
bind '"' split-window -v -c "#{pane_current_path}"

bind -n C-S-h previous-window
bind -n C-S-l next-window
bind -n C-h select-pane -L
bind -n C-j select-pane -D
bind -n C-k select-pane -U
bind -n C-l select-pane -R

set -g @plugin "tmux-plugins/tpm"
set -g @plugin "tmux-plugins/tmux-sensible"
set -g @plugin "tmux-plugins/tmux-prefix-highlight"


{{ if eq .colorscheme "rose-pine" -}}
accent="#ebbcba"
bg="#191724"
input="#c4a7e7"
fg="#e0def4"
inactive="#6e6a86"
select="#403d52"
{{- end -}}
{{ if eq .colorscheme "kanagawa" -}}
accent="#7fb4ca"
bg="#1f1f28"
input="#ff9e3b"
fg="#dcd7ba"
inactive="#727169"
select="#2d4f67"
{{- end -}}
{{ if eq .colorscheme "carbonfox" -}}
accent="#8cb6ff"
bg="#161616"
input="#be95ff"
fg="#f2f4f8"
inactive="#6e6f70"
select="#2a2a2a"
{{- end -}}
{{ if eq .colorscheme "tokyonight-night" -}}
accent="#2ac3de"
bg="#1a1b26"
input="#ff9e64"
fg="#c0caf5"
inactive="#565f89"
select="#283457"
{{- end -}}
{{ if eq .colorscheme "catppuccin-mocha" -}}
accent="#89dceb"
bg="#1e1e2e"
input="#fab387"
fg="#cdd6f4"
inactive="#9399b2"
select="#f5e0dc"
{{- end }}
{{ if eq .colorscheme "vague" -}}
accent="#9bb4bc"
bg="#141415"
input="#f3be7c"
fg="#cdcdcd"
inactive="#606079"
select="#252530"
{{- end }}
{{ if eq .colorscheme "alabaster" -}}
bg="#f7f7f7"
fg="#000000"
accent="#325cc0"
input="#000000"
inactive="#b7b7b7"
select="#bfdbfe"
{{- end }}
{{ if eq .colorscheme "alabaster-dark" -}}
bg="#0e1415"
fg="#cecece"
accent="#6199d9"
input="#cecece"
inactive="#bbbbbb"
select="#293334"
{{- end }}

sep_left=""
sep_right=""


set -g default-terminal "${TERM}"
set -s escape-time 500
set -g mouse on
set -g base-index 1
set -g pane-base-index 1
set -g renumber-windows on
set -g automatic-rename on
set -g automatic-rename-format '#{b:pane_current_path}'

set -g status "on"
set -g status-justify "left"
set -g mode-style "fg=$input,bg=$select"
set -g message-style "fg=$input"
set -g message-command-style "fg=$input"

set -g pane-border-style "fg=$inactive"
set -g pane-active-border-style "fg=$fg"

set -g status-style "fg=$fg bg=$bg"
set -g status-position "bottom"
set -g status-left-length "100"
set -g status-right-length "100"
set -g status-left-style NONE
set -g status-right-style NONE
set -g status-right "#{prefix_highlight}"
set -g status-left "#[bg=$input,fg=$bg,bold] #S #[fg=$input,bg=$bg]$sep_right"

setw -g mode-keys vi
setw -g window-status-activity-style "underscore,fg=$input"
setw -g window-status-style "NONE,fg=$fg"
setw -g window-status-separator ""

setw -g window-status-format "#[fg=$inactive]$sep_left#[bg=$inactive,fg=$bg] #I  #W #[bg=$bg,fg=$inactive]$sep_right"
setw -g window-status-current-format "#[fg=$accent]$sep_left#[bg=$accent,fg=$bg] #I  #W #[bg=$bg,fg=$accent]$sep_right"

# tmux-plugins/tmux-prefix-highlight
set -g @prefix_highlight_output_prefix "#[fg=$input]#[bg=$bg]"
set -g @prefix_highlight_show_copy_mode 'on'
set -g @prefix_highlight_prefix_prompt 'WAIT'
set -g @prefix_highlight_copy_prompt 'COPY'

run "~/.tmux/plugins/tpm/tpm"
