Config.new_autocmd('ColorScheme', nil, function()
    -- Adjust highlights
    vim.api.nvim_set_hl(0, 'NormalFloat', { link = 'Normal' })
    vim.api.nvim_set_hl(0, 'FloatBorder', { link = 'Comment' })

    --- @param hl string
    local function clear_bg(hl)
        local current = vim.api.nvim_get_hl(0, { name = hl, link = false })
        vim.api.nvim_set_hl(0, hl, { fg = current.fg, bg = 'NONE' })
    end
    clear_bg('FloatTitle')
    clear_bg('MiniFilesTitleFocused')
    clear_bg('MiniPickBorderText')
    clear_bg('MiniPickPrompt')
    clear_bg('MiniPickPromptPrefix')
    clear_bg('MiniPickPromptCaret')
    clear_bg('MiniClueTitle')
    clear_bg('Pmenu')
    clear_bg('PmenuExtra')
    clear_bg('PmenuExtra')
    clear_bg('StatusLine')
    clear_bg('StatusLineNC')
end, 'Highlights')

local colorscheme = require('colorschemes.{{ .colorscheme }}')

vim.pack.add({ colorscheme.src })
colorscheme.setup()
