local patches = {
    NormalFloat = { link = 'Normal' },
    FloatBorder = { link = 'Comment' },
    FloatTitle = { bg = 'NONE', update = true },
    MiniFilesTitleFocused = { bg = 'NONE', update = true },
    MiniPickBorderText = { bg = 'NONE', update = true },
    MiniPickPrompt = { bg = 'NONE', update = true },
    MiniPickPromptPrefix = { bg = 'NONE', update = true },
    MiniPickPromptCaret = { bg = 'NONE', update = true },
    MiniClueTitle = { bg = 'NONE', update = true },
    Pmenu = { bg = 'NONE', update = true },
    PmenuExtra = { bg = 'NONE', update = true },
    PmenuKind = { bg = 'NONE', update = true },
    StatusLine = { bg = 'NONE', update = true },
    StatusLineNC = { bg = 'NONE', update = true },
    StatusLineTerm = { bg = 'NONE', update = true },
    StatusLineTermNC = { bg = 'NONE', update = true },
}

Config.new_autocmd('ColorScheme', nil, function()
    for group, settings in pairs(patches) do
        vim.api.nvim_set_hl(0, group, settings)
    end
end, 'Highlights')

local colorscheme = require('colorschemes.{{ .colorscheme }}')

if colorscheme.src ~= nil then
    vim.pack.add({ colorscheme.src })
end

if colorscheme.setup ~= nil then
    colorscheme.setup()
end
