{{ if eq .colorscheme "rose-pine" -}}
include=~/.config/mako/colors/rose_pine
{{- end -}}
{{ if eq .colorscheme "rose-pine-moon" -}}
include=~/.config/mako/colors/rose_pine_moon
{{- end -}}
{{ if eq .colorscheme "kanagawa" -}}
include=~/.config/mako/colors/kanagawa
{{- end -}}
{{ if eq .colorscheme "catppuccin-mocha" -}}
include=~/.config/mako/colors/catppuccin_mocha
{{- end -}}
{{ if eq .colorscheme "carbonfox" -}}
include=~/.config/mako/colors/carbonfox
{{- end -}}
{{ if eq .colorscheme "tokyonight-night" -}}
include=~/.config/mako/colors/tokyonight_night
{{- end -}}
