{{ if eq .colorscheme "rose-pine" -}}
--theme="rose-pine"
{{- end -}}
{{ if eq .colorscheme "rose-pine-moon" -}}
--theme="rose-pine-moon"
{{- end -}}
{{ if eq .colorscheme "rose-pine-dawn" -}}
--theme="rose-pine-dawn"
{{- end -}}
{{ if eq .colorscheme "kanagawa" -}}
--theme="kanagawa"
{{- end -}}
{{ if eq .colorscheme "tokyonight-night" -}}
--theme="tokyonight-night"
{{- end -}}
{{ if eq .colorscheme "carbonfox" -}}
--theme="carbonfox"
{{- end -}}
{{ if eq .colorscheme "catppuccin-mocha" -}}
--theme="catppuccin-mocha"
{{- end }}
