{{ if eq .colorscheme "rose-pine" -}}
--theme="rose-pine"
{{- end -}}
{{ if eq .colorscheme "kanagawa" -}}
--theme="kanagawa"
{{- end -}}
{{ if eq .colorscheme "tokyonight" -}}
--theme="tokyonight"
{{- end -}}
{{ if eq .colorscheme "carbonfox" -}}
--theme="carbonfox"
{{- end -}}
{{ if eq .colorscheme "catppuccin" -}}
--theme="catppuccin_mocha"
{{- end }}
